/*my UX skills section coded using css flex*
 .flexcontainer{
    display:flex;
    width: 33px;
    flex-direction: row;
 }   
 .flexcontainer{
    display:flex;
    width: 33px;
    flex-direction: row;
 }      
       
 .flexcontainer{
    display:flex;
    width: 33px;
    flex-direction: row;
 } 
/*tranquilList*/
.flexcontainer{display: grid;
grid-template-columns: 50px 50px 50px 50px;
grid-template-rows: auto;
grid-template-areas:"header header header header""main main.sidebar""footer footer footer footer";}

.iteam1{grid-area:2/1 span2/span3;}

.iteam1{ grid-area:myArea;}
.grid-container{ display:grid;
grid-template-areas: "myArea myAarea myArea myArea";}

@media only sceen and(max-width:600){/*flex container dispalay flex column/width 33Px*/}


 
